# A Crash Course in Python

This notebook is created from the script `crash_course_in_python.py` (retrieved from the books Github: https://github.com/joelgrus/data-science-from-scratch/blob/d5d0f117f41b3ccab3b07f1ee1fa21cfcf69afa1/scratch/crash_course_in_python.py) with some smaller modifications

In [1]:
"""
This is just code for the introduction to Python.
It also won't be used anywhere else in the book.
"""

"\nThis is just code for the introduction to Python.\nIt also won't be used anywhere else in the book.\n"

## Whitespace formatting

Many languages use curly braces to delimit blocks of code. Python uses indentation. Python consider tabs and whitespaces as two different things. Always use spaces (maybe your editor or Jupyter Notebook is set to make spaces when you hit the tab button).

In [2]:
for i in [1, 2, 3, 4, 5]:
    print(i)                    # first line in "for i" block
    for j in [1, 2, 3, 4, 5]:
        print(j)                # first line in "for j" block
        print(i + j)            # last line in "for j" block
    print(i)                    # last line in "for i" block
print("done looping")

1
1
2
2
3
3
4
4
5
5
6
1
2
1
3
2
4
3
5
4
6
5
7
2
3
1
4
2
5
3
6
4
7
5
8
3
4
1
5
2
6
3
7
4
8
5
9
4
5
1
6
2
7
3
8
4
9
5
10
5
done looping

In [3]:
long_winded_computation = (1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10 + 11 + 12 +
                           13 + 14 + 15 + 16 + 17 + 18 + 19 + 20)

In [4]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [5]:
list_of_lists

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [6]:
easier_to_read_list_of_lists = [[1, 2, 3],
                                [4, 5, 6],
                                [7, 8, 9]]

In [7]:
easier_to_read_list_of_lists

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [8]:
two_plus_three = 2 + \
                 3

In [9]:
for i in [1, 2, 3, 4, 5]:

    # notice the blank line
    print(i)

1
2
3
4
5

## Modules

Many Python features are note loaded by default and we often use external package for data science. You can also make your own modules. To use any of these you first need to load the module.

In [10]:
# Import an entire module (prefix subsequent function call with the name of the module)
import re
my_regex = re.compile("[0-9]+", re.I)
my_regex

re.compile(r'[0-9]+', re.IGNORECASE|re.UNICODE)

In [11]:
# You can define what name you want to call the module by yourself
import re as regex
my_regex = regex.compile("[0-9]+", regex.I)
my_regex

re.compile(r'[0-9]+', re.IGNORECASE|re.UNICODE)

Standard conventions for heavily used modules in data science are:

In [12]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import statsmodels as sm

In [13]:
# If you only need a few specific function or classes from a module
# you can import then only and use them without a prefic
from collections import defaultdict, Counter
lookup = defaultdict(int)
my_counter = Counter()
my_counter

Counter()

You can also import everything from a module to use all it functions without a prefix, but this you should never do! (How to do it: `from re import *`)

## Functions

A function is something that takes zero or more input and return an output. 

In Python, functions are first-class citizen, in the sense that we can assign them to variables and pass them into other functions etc.

In [14]:
# Definition of a function
def double(x):
    """
    This is where you put an optional docstring that explains what the
    function does. For example, this function multiplies its input by 2.
    """
    return x * 2

In [15]:
double

In [16]:
double(42)

84

In [17]:
?double

Signature: double(x)
Docstring:
This is where you put an optional docstring that explains what the
function does. For example, this function multiplies its input by 2.
File:      /tmp/ipykernel_1994/511008509.py
Type:      function

In [18]:
# Or press shift+tab when you're at the function to get the information on the function

In [19]:
def apply_to_one(f):
    """Calls the function f with 1 as its argument"""
    return f(1)

In [20]:
my_double = double             # refers to the previously defined function
x = apply_to_one(my_double)    # equals 2

In [21]:
x

2

In [22]:
assert x == 2

In [23]:
assert x == 4

AssertionError:

In [24]:
# "Define" functions without naming the using classic lambda notation (when you're not going to use the function again)
y = apply_to_one(lambda x: x + 4)
assert y == 5

In [25]:
# Arguments to functions can have default arguments
def my_print(message = "my default message"):
    print(message)
    
my_print("hello")   # prints 'hello'
my_print()          # prints 'my default message'

hello
my default message

In [26]:
# You can specify an argument by name when calling a function, which can be useful sometimes
def full_name(first = "What's-his-name", last = "Something"):
    return first + " " + last

In [27]:
full_name("Joel", "Grus")     # "Joel Grus"
full_name("Joel")             # "Joel Something"
full_name(last="Grus")        # "What's-his-name Grus"

"What's-his-name Grus"

Note the difference between using `print` and `return` in a function

In [28]:
full_name("Joel", "Grus")

'Joel Grus'

In [29]:
full_name("Joel")

'Joel Something'

In [30]:
full_name(last="Joel")   # Note how this is different from the previous line

"What's-his-name Joel"

## Strings

In [31]:
# Using single or double quotes
single_quoted_string = 'data science'
double_quoted_string = "data science"

In [32]:
single_quoted_string

'data science'

In [33]:
double_quoted_string

'data science'

In [34]:
# Define multi line strings
multi_line_string = """This is the first line.
and this is the second line
and this is the third line"""

multi_line_string

'This is the first line.\nand this is the second line\nand this is the third line'

In [35]:
# Concattinating strings

In [36]:
first_name = "Joel"
last_name = "Grus"

full_name1 = first_name + " " + last_name             # string addition
full_name2 = "{0} AwesomeMiddleName {1}".format(first_name, last_name)  # string.format

In [37]:
full_name1

'Joel Grus'

In [38]:
full_name2

'Joel AwesomeMiddleName Grus'

In [39]:
full_name3 = f"{first_name} MoreAwesomeMiddleName {last_name}"

full_name3

'Joel MoreAwesomeMiddleName Grus'

## Exceptions

When things go wrong Python raises expections. However, you can explicitly handle exceptions using `try` and `except`

In [40]:
try:
    print(0 / 0)
except ZeroDivisionError:
    print("cannot divide by zero")

cannot divide by zero

## List

Are the most fundamental data strcuture in Python, which is an ordered collection (sometimes called an array in other languages)

In [41]:
integer_list = [1, 2, 3]
heterogeneous_list = ["string", 0.1, True]
list_of_lists = [integer_list, heterogeneous_list, []]

list_length = len(integer_list)     # equals 3
list_sum    = sum(integer_list)     # equals 6

In [42]:
integer_list

[1, 2, 3]

In [43]:
heterogeneous_list

['string', 0.1, True]

In [44]:
list_of_lists

[[1, 2, 3], ['string', 0.1, True], []]

In [45]:
list_length

3

In [46]:
list_sum

6

In [47]:
# You can subset list by quare brackets
x = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
x[0]          # equals 0, lists are 0-indexed

0

In [49]:
x[1]

1

In [50]:
x[-1]         # equals 9, 'Pythonic' for last element

9

In [51]:
x[-2]        # equals 8, 'Pythonic' for next-to-last element

8

In [52]:
# Or to assign elements of a list
x[0] = -1            # now x is [-1, 1, 2, 3, ..., 9]

x

[-1, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [53]:
# You can slice part of a list using :
x[:3]

[-1, 1, 2]

In [54]:
x[3:]

[3, 4, 5, 6, 7, 8, 9]

In [55]:
x[1:5] # note that it is up the the fifth element, but not including it

[1, 2, 3, 4]

In [56]:
x[-3:]  # last_three

[7, 8, 9]

In [57]:
x[1:-1]  # without the first and the last element

[1, 2, 3, 4, 5, 6, 7, 8]

In [58]:
x[:]  # A copy of the entire list x

[-1, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [59]:
x[5:2:-1]  # A third argument to slicing can be a stride, which can also be negative

[5, 4, 3]

In [60]:
# Checking for list membership
1 in [1, 2, 3]    # True

True

In [61]:
0 in [1, 2, 3]    # False

False

In [62]:
# Concatinating a list without changing it
x = [1, 2, 3]
y = x + [4, 5, 6]       # y is [1, 2, 3, 4, 5, 6]; x is unchanged
y

[1, 2, 3, 4, 5, 6]

In [63]:
x

[1, 2, 3]

In [64]:
# Extending an excisting list
x = [1, 2, 3]
x.extend([4, 5, 6]) 
x # x is now [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [65]:
# Appinding one element at the time
x = [1, 2, 3]
x.append(0)      # x is now [1, 2, 3, 0]
x

[1, 2, 3, 0]

In [66]:
# unpacking a list
x, y = [1, 2]    # now x is 1, y is 2

In [67]:
x

1

In [68]:
y

2

In [69]:
_, y = [1, 23]    # now y == 23, didn't care about the first element
y

23

In [70]:
# a list can be sorted
x = [4, 1, 2, 3]
# sorted returns a new sorted list
sorted(x)

[1, 2, 3, 4]

In [71]:
# the sort method sort an existing list
x.sort()
x

[1, 2, 3, 4]

## List comprehensions

A smart way of creating list from existing list by only chosing some elements or applying functions to them.

In [72]:
[x for x in range(5) if x % 2 == 0]

[0, 2, 4]

In [73]:
[x * x for x in range(5)]

[0, 1, 4, 9, 16]

In [74]:
[x * x for x in range(5) if x % 2 == 0]

[0, 4, 16]

In [75]:
# Also works for dictionaries and sets
{x: x * x for x in range(5)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [76]:
{x * x for x in [2, 1, -1, -2]}

{1, 4}

In [77]:
# Underscore can be used if you do not need the element from the original list
[0 for _ in range(5)]      # has the same length as range(5)

[0, 0, 0, 0, 0]

In [78]:
increasing_pairs = [(x, y)                       # only pairs with x < y,
                    for x in range(10)           # range(lo, hi) equals
                    for y in range(x + 1, 10)]   # [lo, lo + 1, ..., hi - 1]
increasing_pairs

[(0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (0, 5),
 (0, 6),
 (0, 7),
 (0, 8),
 (0, 9),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (1, 7),
 (1, 8),
 (1, 9),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (2, 7),
 (2, 8),
 (2, 9),
 (3, 4),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9),
 (5, 6),
 (5, 7),
 (5, 8),
 (5, 9),
 (6, 7),
 (6, 8),
 (6, 9),
 (7, 8),
 (7, 9),
 (8, 9)]

## Tuples

Are like lists but immutable

In [79]:
my_list = [1, 2]
my_tuple = (1, 2)
other_tuple = 3, 4

In [80]:
my_list

[1, 2]

In [81]:
my_tuple

(1, 2)

In [82]:
other_tuple

(3, 4)

In [83]:
my_list[1] = 3      # my_list is now [1, 3]
my_list

[1, 3]

In [84]:
try:
    my_tuple[1] = 3
except TypeError:
    print("cannot modify a tuple")

cannot modify a tuple

In [85]:
def sum_and_product(x, y):
    return (x + y), (x * y)

sp = sum_and_product(2, 3)     # sp is (5, 6)
s, p = sum_and_product(5, 10)  # s is 15, p is 50

sp

(5, 6)

In [86]:
s

15

In [87]:
p

50

In [88]:
x, y = 1, 2     # now x is 1, y is 2
x, y = y, x     # Pythonic way to swap variables; now x is 2, y is 1

In [89]:
x

2

In [90]:
y

1

## Dictionaries

Dictionaries are an important key-value data structure.

In [91]:
empty_dict = {}                     # Pythonic
empty_dict2 = dict()                # less Pythonic
grades = {"Joel": 80, "Tim": 95}    # dictionary literal
grades

{'Joel': 80, 'Tim': 95}

In [92]:
grades["Joel"]

80

In [93]:
try:
    kates_grade = grades["Kate"]
except KeyError:
    print("no grade for Kate!")

no grade for Kate!

In [94]:
"Joel" in grades

True

In [95]:
"Kate" in grades

False

In [96]:
grades.get("Joel", 0) # Get method returns a default instead of raising an exception. This default can be specied

80

In [97]:
grades.get("Kate")

In [98]:
grades.get("Kate", 0)

0

In [99]:
grades["Tim"] = 99                    # replaces the old value
grades["Kate"] = 100                  # adds a third entry
grades

{'Joel': 80, 'Tim': 99, 'Kate': 100}

In [100]:
# Another example of Dictionary with more complex data
tweet = {
    "user" : "joelgrus",
    "text" : "Data Science is Awesome",
    "retweet_count" : 100,
    "hashtags" : ["#data", "#science", "#datascience", "#awesome", "#yolo"]
}
tweet

{'user': 'joelgrus',
 'text': 'Data Science is Awesome',
 'retweet_count': 100,
 'hashtags': ['#data', '#science', '#datascience', '#awesome', '#yolo']}

In [101]:
     # iterable for the keys

In [102]:
tweet.values()   # iterable for the values

dict_values(['joelgrus', 'Data Science is Awesome', 100, ['#data', '#science', '#datascience', '#awesome', '#yolo']])

In [103]:
tweet.items()    # iterable for the (key, value) tuples

dict_items([('user', 'joelgrus'), ('text', 'Data Science is Awesome'), ('retweet_count', 100), ('hashtags', ['#data', '#science', '#datascience', '#awesome', '#yolo'])])

In [104]:
"user" in tweet.keys()          # True, but not Pythonic

True

In [105]:
"user" in tweet                 # Pythonic way of checking for keys

True

In [106]:
"joelgrus" in tweet.values()     # True (slow but the only way to check)

True

## Counters

Can count the occurences of elements of a list

In [107]:
from collections import Counter
c = Counter([0, 1, 2, 0, 5, 3, 1, 1])
c

Counter({1: 3, 0: 2, 2: 1, 5: 1, 3: 1})

In [108]:
c.most_common(3)

[(1, 3), (0, 2), (2, 1)]

## Sets

A collection of distinct elements. Uses { and } instead of [ and ] used for lists

In [109]:
s = set()
s

set()

In [110]:
s.add(1)       # s is now {1}
s

{1}

In [111]:
s.add(2)       # s is now {1, 2}
s

{1, 2}

In [112]:
s.add(2)       # s is still {1, 2}
s

{1, 2}

In [113]:
# The in operation that checks for membership is fast
2 in s

True

In [114]:
3 in s

False

In [115]:
# Sets are good at giving us distinct elements
set([0, 1, 2, 0, 5, 3, 1, 1])

{0, 1, 2, 3, 5}

## Control flows

In [116]:
if 1 > 2:
    message = "if only 1 were greater than two..."
elif 1 > 3:
    message = "elif stands for 'else if'"
else:
    message = "when all else fails use else (if you want to)"
    
message

'when all else fails use else (if you want to)'

In [117]:
"even" if x % 2 == 0 else "odd"

'even'

In [118]:
# while loops
x = 0
while x < 10:
    print(f"{x} is less than 10")
    x += 1

0 is less than 10
1 is less than 10
2 is less than 10
3 is less than 10
4 is less than 10
5 is less than 10
6 is less than 10
7 is less than 10
8 is less than 10
9 is less than 10

In [119]:
# For loops
# range(10) is the numbers 0, 1, ..., 9
for x in range(10):
    print(f"{x} is less than 10")

0 is less than 10
1 is less than 10
2 is less than 10
3 is less than 10
4 is less than 10
5 is less than 10
6 is less than 10
7 is less than 10
8 is less than 10
9 is less than 10

In [120]:
for x in range(10):
    if x == 3:
        continue  # go immediately to the next iteration
    if x == 5:
        break     # quit the loop entirely
    print(x)

0
1
2
4

## Booleans

In [121]:
1 < 2

True

In [122]:
1 >= 2

False

In [123]:
True == False

False

In [124]:
1 == 1

True

In [125]:
# None represent non existing truth value
None == False

False

In [126]:
None == True

False

In [127]:
x = 1 < 2

In [128]:
 x is True

True

In [129]:
x is None

False

In [130]:
all([1 < 2, 2 < 3, 3 < 4])

True

In [131]:
all([1 < 2, 2 < 3, 3 > 4])

False

In [132]:
any([1 < 2, 2 < 3, 3 > 4])

True

In [133]:
all([])

True

In [134]:
any([])

False

In [135]:
1 < 2 and 2 < 3  # conjunction "and"

True

In [136]:
1 < 2 and 2 > 3

False

In [137]:
1 < 2 or 2 > 3 # disjunction "or"

True

In [138]:
not 1 < 2 # negation

False

## Object-Oriented Programming

Like many other languages Python allow you define classes and methods on them

In [139]:
class CountingClicker:
    """A class can/should have a docstring, just like a function"""

    def __init__(self, count = 0):
        self.count = count

    def __repr__(self):
        return f"CountingClicker(count={self.count})"

    def click(self, num_times = 1):
        """Click the clicker some number of times."""
        self.count += num_times

    def read(self):
        return self.count

    def reset(self):
        self.count = 0

In [140]:
?CountingClicker

Init signature: CountingClicker(count=0)
Docstring:      A class can/should have a docstring, just like a function
Type:           type
Subclasses:

In [141]:
CountingClicker()

CountingClicker(count=0)

In [142]:
clicker = CountingClicker(1)

In [143]:
clicker.read()

1

In [144]:
clicker.click()
clicker.click(7)
clicker.read()

9

In [145]:
clicker

CountingClicker(count=9)

In [146]:
# A subclass inherits all the behavior of its parent class.
class NoResetClicker(CountingClicker):
    # This class has all the same methods as CountingClicker

    # Except that it has a reset method that does nothing.
    def reset(self):
        pass

## Iterables and generators

Sometimes we need special objects to iterate over in for loops for instance.

In [147]:
# We can define them as function using the yield operator
def generate_range(n):
    i = 0
    while i < n:
        yield i   # every call to yield produces a value of the generator
        i += 1

In [148]:
generate_range(10)

In [149]:
for i in generate_range(10):
    print(f"i: {i}")

i: 0
i: 1
i: 2
i: 3
i: 4
i: 5
i: 6
i: 7
i: 8
i: 9

In [150]:
# We can also generate infinite generators
def natural_numbers():
    """returns 1, 2, 3, ..."""
    n = 1
    while True:
        yield n
        n += 1

In [151]:
natural_numbers()

In [152]:
# Generators can only be used once
gen10 = generate_range(10)

for i in gen10:
    print(f"i: {i}")

i: 0
i: 1
i: 2
i: 3
i: 4
i: 5
i: 6
i: 7
i: 8
i: 9

In [153]:
for i in gen10:
    print(f"i: {i}")

In [154]:
# Using comprehension to define  a generator
evens_below_20 = (i for i in generate_range(20) if i % 2 == 0)
evens_below_20

In [155]:
# enumerate let us iterate of the indexes of a list of names
names = ["Alice", "Bob", "Charlie", "Debbie"]
names

['Alice', 'Bob', 'Charlie', 'Debbie']

In [156]:
enumerate(names)

In [157]:
for i, name in enumerate(names):
    print(f"name {i} is {name}")

name 0 is Alice
name 1 is Bob
name 2 is Charlie
name 3 is Debbie

## Randomness

The `random` module allow us to generate random numbers - that is "pseudo random numbers" based on an internal state that can be set with `random.seed`.

In [158]:
import random
random.random()

0.6656794800399712

In [159]:
random.random()

0.5730730089379561

In [160]:
# Setting a seed to ensure we always get the same random number - essential to ensure reproducability
random.seed(7439)
random.random()

0.6687519045341563

In [161]:
random.seed(7439)
random.random()

0.6687519045341563

In [162]:
[random.random() for _ in range(4)]

[0.5943461437643783,
 0.007136332497200137,
 0.17753838752933393,
 0.41801295364956315]

In [163]:
# random drawing from a list of integers
random.randrange(10)    # choose randomly from range(10) = [0, 1, ..., 9]

5

In [164]:
random.randrange(3, 6)  # choose randomly from range(3, 6) = [3, 4, 5]

3

In [165]:
# random shuffling
up_to_ten = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
random.shuffle(up_to_ten)
up_to_ten

[5, 10, 2, 8, 3, 7, 9, 4, 1, 6]

In [166]:
# random choice
random.choice(["Alice", "Bob", "Charlie"])

'Alice'

In [167]:
# Random sampling without replacement
random.sample([1,2,3,4,5,6,7,8,9,10], 7)

[10, 8, 1, 7, 5, 9, 6]

In [168]:
# Random sampling with replacement
[random.choice([1,2,3,4,5,6,7,8,9,10]) for _ in range(7)]

[3, 8, 9, 3, 9, 9, 9]

## Regular expressions

Regular expression are also useful in Python and in Data Science

In [169]:
import re

re_examples = [                        # all of these are true, because
    not re.match("a", "cat"),              #  'cat' doesn't start with 'a'
    re.search("a", "cat"),                 #  'cat' has an 'a' in it
    not re.search("c", "dog"),             #  'dog' doesn't have a 'c' in it
    3 == len(re.split("[ab]", "carbs")),   #  split on a or b to ['c','r','s']
    "R-D-" == re.sub("[0-9]", "-", "R2D2") #  replace digits with dashes
    ]

re_examples

[True, <re.Match object; span=(1, 2), match='a'>, True, True, True]

In [170]:
not re.match("a", "cat")             #  'cat' doesn't start with 'a'

True

In [171]:
if re.search("a", "cat"):
    print("That's true")

That's true

In [172]:
re.search("a", "cat")                 #  'cat' has an 'a' in it

In [173]:
if re.search("a", "cat"):
    print("That's true")

That's true

In [174]:
re.split("[ab]", "carbs")    #  split on a or b to ['c','r','s']

['c', 'r', 's']

In [175]:
re.sub("[0-9]", "-", "R2D2") #  replace digits with dashes

'R-D-'

## zip and argument unpacking

In [176]:
# Zip iterables together
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

zip(list1, list2)

In [177]:
[pair for pair in zip(list1, list2)]

[('a', 1), ('b', 2), ('c', 3)]

In [178]:
zipped = [pair for pair in zip(list1, list2)]
zipped

[('a', 1), ('b', 2), ('c', 3)]

In [179]:
letters, numbers = zip(*zipped)

In [180]:
letters

('a', 'b', 'c')

In [181]:
numbers

(1, 2, 3)

## Type annotations

Python is dynamically typed, that is it does not care about the type of objects as long as they are used in a valid way

In [182]:
def add(a, b):
    return a + b

In [183]:
add(10, 5)    # + is valid for numbers

15

In [184]:
add([1, 2], [3])   # + is valid for lists

[1, 2, 3]

In [185]:
add("hi ", "there")   # + is valid for strings

'hi there'

In [186]:
try:
    add(10, "five")
except TypeError:
    print("cannot add an int to a string")

cannot add an int to a string

In [187]:
# You can add type notation, but doesn't actually do anything
def add(a: int, b: int) -> int:
    return a + b

In [188]:
add(10, 5)           # you'd like this to be OK

15

In [189]:
add("hi ", "there")  # you'd like this to be not OK

'hi there'

The book list four reasons for still using type notation (and the book uses them)

- A form of documenation
- External tools can use it
- Makes you think about designing clear functions
- Your editor might have functionality that can utilize it

In [191]:
# To type annotate a list of floats
from typing import List  # note capital L

def total(xs: List[float]) -> float:
    return sum(xs)

... see the book for more examples of types